body{
    background: linear-gradient(red, orange);
    background-size: cover;
}

.title_plant{
    text-align: center;
    font-size: 100px;}

    nav{
        text-align: center;
        font-size: 25px;
    }
a{
    color: black;
}

img.izquierda{
    float: left;
    height: 105px;
    margin-left: 10%;
}

img.derecha{
    float: right;
    height: 105px;
    margin-right: 10%;
}

p{
    color: black;
    font-size: 20px;
}

p.jugadores{
    text-align: center;
}

img{
    height: 180px;
    margin: 0 50px;
}

p.entrenadores{
text-align: center;
}

img:hover{
    transform: scale(150%);
}
